<!doctype html>
<html ng-app="Spare">
	<head>
		<title>Spare</title>
		<meta charset="utf-8">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="//code.angularjs.org/1.2.8/angular.min.js"></script>
		<script src="//code.angularjs.org/1.2.8/angular-route.min.js"></script>
		<script src="/javascripts/app.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>

	</head>
	<body >
		{{{body}}}
			
	</body>

	
<div>
	<link href='/stylesheets/estilito.css' rel='stylesheet' type='text/css'>	
			<script src="/javascripts/st.js"></script>
</html>

