
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
article ul {
  padding-left: 1em;
  margin-bottom: 1em;
}
/*article li {
  list-style: disc;
}
.content h1 {
  left: -3px;
   Optical left-edge alignment 
}*/


























/*********************************
  Global: Color & Shadows
*/
body {
  background: #fff;
  color: #222;
}
a,
a.link-block .link {
  color: #218bc3;
  text-decoration: none;
}
a:hover,
a.link-block .link:hover {
  color: #0b2e40;
  -moz-transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
a.black {
  color: #222;
}
a.black:hover {
  color: #218bc3;
  -moz-transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
a.link-block {
  display: block;
  color: #222;
  text-decoration: none;
}
hr {
  border-color: #292929;
}
h5,
h6 {
  color: #5e5e5e;
}
.content h1 {
  color: #222;
}



//navegador
.navegadorIcons {
  position: relative;
  top:10px;
  left: 15px;
  
}

h1{
  font-family: font-family: 'Alegreya Sans SC', sans-serif;
  color: red;
  position: absolute;
  left: 15px;


}




/*********************************
  Main Content Area
*/
.content-frame {
  border-top: 1px solid transparent;
}
.content-frame .content {
  margin: 0 auto;
  width: 870px;
}
.content-frame .content.no-tertiary {
  width: 630px;<
}
.content-frame .main-column {
  float: left;
  width: 630px;
}
.content-frame .tertiary {
  float: right;
  width: 150px;
}
.content-frame .content.content-wide {
  width: 870px;
}
@media screen and (max-width: 1160px) {
  .content-frame .content,
  .content-frame .content.content-wide {
    width: 630px;
  }
  .content-frame .main-column {
    float: none;
    width: auto;
  }
  .content-frame .tertiary {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .content-frame .content,
  .content-frame .content.no-tertiary {
    width: 470px;
  }
  .content-frame .sidebar {
    max-width: none;
    clear: left;
  }
}
@media screen and (max-width: 740px) {
  .content-frame .content,
  .content-frame .content.no-tertiary {
    width: auto;
    margin: 0 20px;
  }
}
.ie8 .content-frame {
  width: auto;
  margin-left: 250px;
}
.ie8 .content-frame .tertiary {
  display: none;
}
/*********/
#body-class-surrogate,
#title-surrogate {
  display: none;
}
.directory.pinned {
  width: 150px;
  float: right;
  margin-top: 0;
}
@media screen and (max-width: 1160px) {
  .directory {
    display: none;
  }
}
.directory ul {
  margin-bottom: 20px;
}
.directory li {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.8em;
}




/*********************************


/*********************************
  Page footer
*/
.page-footer {
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 160px;
  margin-bottom: 25px;
  color: #999;
  font-size: 12px;
}
.page-footer hr {
  border-top: 1px solid #eee;
}
.page-footer em {
  color: #ccc;
  margin: 0 0.6em;
}
.page-footer a {
  color: #91cdec;
}
body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 50px;
}
.ie8 body {
  padding-left: 0;
}
.content-frame {
  -ms-transform: translate(150px, 0);
  -moz-transform: translate(150px, 0);
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate(150px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
}
.nav-collapsed .content-frame {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
}
@media screen and (max-width: 740px) {
  .content-frame {
    -ms-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate(0px, 0);
  }
}
.pin-frame {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 0;
}
.pin-content {
  margin: 0 auto;
  width: 870px;
  position: relative;
  left: -25px;
  -ms-transform: translate(150px, 0);
  -moz-transform: translate(150px, 0);
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate(150px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
}
.no-touch .nav-collapsed .pin-content {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
}
html.side-nav-always-open {
  padding-left: 200px;
}
html.side-nav-always-open body {
  padding-left: 0;
}
html.side-nav-always-open .content-frame {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
@media screen and (max-width: 740px) {
  html.side-nav-always-open {
    padding-left: 0;
  }
}
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  overflow: hidden;
  cursor: default;
  color: #c8c8c8;
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.gv-logo {
  height: 50px;
}
.gv-logo .logotype,
.gv-logo .bug {
  background-image: url(../images/bug.png);
  background-image: url(../images/bug.svg);
  width: 150px;
  height: 50px;
}
.gv-logo .logotype {
  background-position: 0 -50px;
  opacity: 1.0;
  -moz-transition: opacity linear 0.28s;
  -webkit-transition: opacity linear 0.28s;
  -o-transition: opacity linear 0.28s;
  transition: opacity linear 0.28s;
}
.gv-logo .bug {
  position: absolute;
  top: 0;
  left: 0;
}
.gv-logo span {
  display: none;
}
.side-nav .gv-logo {
  margin: 20px 0 30px 0;
}
.side-nav .gv-logo a {
  display: block;
  position: absolute;
  right: 30px;
  -moz-transition: right ease-in-out 0.28s;
  -webkit-transition: right ease-in-out 0.28s;
  -o-transition: right ease-in-out 0.28s;
  transition: right ease-in-out 0.28s;
}
.nav-collapsed .side-nav .gv-logo a {
  right: 6px;
}
.nav-collapsed .side-nav .gv-logo .logotype {
  opacity: 0;
}
.ie8 .gv-logo .logotype,
.ie8 .gv-logo .bug {
  background-image: url(../images/bug.png);
}
.ie8 .side-nav .gv-logo a {
  right: auto;
  left: 13px;
}
.side-nav ul {
  width: 200px;
}
.side-nav li a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  color: #aaaaaa;
  line-height: 44px;
  padding-left: 50px;
  border-top: 1px #2d2d2d solid;
}
.side-nav li a.selected {
  color: #e3bc28;
}
.side-nav li:last-child a {
  border-bottom: 1px #2d2d2d solid;
}
.side-nav h3 {
  width: 200px;
  margin: 45px 0 14px 15px;
  font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
  -moz-transition: opacity ease-in-out 0.28s;
  -webkit-transition: opacity ease-in-out 0.28s;
  -o-transition: opacity ease-in-out 0.28s;
  transition: opacity ease-in-out 0.28s;
}
.side-nav .icon {
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-image: url(../images/icons/nav-icons.png);
  background-image: url(../images/icons/nav-icons.svg);
  opacity: 0.4;
}
.side-nav li a.selected .icon {
  opacity: 1.0;
}
.side-nav .icon.team {
  background-position: -7px 0px !important;
}
.side-nav .selected .icon.team {
  background-position: -57px 0px !important;
}
.side-nav.white-nav .icon.team {
  background-position: -107px 0px !important;
}
.side-nav .icon.portfolio {
  background-position: -7px -40px !important;
}
.side-nav .selected .icon.portfolio {
  background-position: -57px -40px !important;
}
.side-nav.white-nav .icon.portfolio {
  background-position: -107px -40px !important;
}
.side-nav .icon.about {
  background-position: -7px -80px !important;
}
.side-nav .selected .icon.about {
  background-position: -57px -80px !important;
}
.side-nav.white-nav .icon.about {
  background-position: -107px -80px !important;
}
.side-nav .icon.design {
  background-position: -7px -160px !important;
}
.side-nav .selected .icon.design {
  background-position: -57px -160px !important;
}
.side-nav.white-nav .icon.design {
  background-position: -107px -160px !important;
}
.side-nav .icon.recruiting {
  background-position: -7px -200px !important;
}
.side-nav .selected .icon.recruiting {
  background-position: -57px -200px !important;
}
.side-nav.white-nav .icon.recruiting {
  background-position: -107px -200px !important;
}
.side-nav .icon.marketing {
  background-position: -7px -240px !important;
}
.side-nav .selected .icon.marketing {
  background-position: -57px -240px !important;
}
.side-nav.white-nav .icon.marketing {
  background-position: -107px -240px !important;
}
.side-nav .icon.engineering {
  background-position: -7px -280px !important;
}
.side-nav .selected .icon.engineering {
  background-position: -57px -280px !important;
}
.side-nav.white-nav .icon.engineering {
  background-position: -107px -280px !important;
}
.side-nav .icon.google-access {
  background-position: -7px -320px !important;
}
.side-nav .selected .icon.google-access {
  background-position: -57px -320px !important;
}
.side-nav.white-nav .icon.google-access {
  background-position: -107px -320px !important;
}
.side-nav .icon.library {
  background-position: -7px -360px !important;
}
.side-nav .selected .icon.library {
  background-position: -57px -360px !important;
}
.side-nav.white-nav .icon.library {
  background-position: -107px -360px !important;
}
.side-nav .icon.workshops {
  background-position: -7px -400px !important;
}
.side-nav .selected .icon.workshops {
  background-position: -57px -400px !important;
}
.side-nav.white-nav .icon.workshops {
  background-position: -107px -400px !important;
}
.side-nav .icon.product {
  background-position: -7px -440px !important;
}
.side-nav .selected .icon.product {
  background-position: -57px -440px !important;
}
.side-nav.white-nav .icon.product {
  background-position: -107px -440px !important;
}
.no-touch .side-nav li a:hover {
  background: #111;
}
.ie8 .side-nav .icon {
  background: url(../images/icons/nav-icons.png);
}
.nav-collapsed .side-nav li a {
  background: transparent;
}
@media screen and (max-height: 670px) and (min-width: 740px) {
  .side-nav li a {
    line-height: 35px;
    font-size: 14px;
  }
  .side-nav .icon {
    top: -5px;
  }
}
.ie8 .side-nav li a {
  line-height: 35px;
  font-size: 14px;
}
.ie8 .side-nav .icon {
  top: -5px;
}
.nav-collapsed .side-nav {
  width: 50px;
}
.nav-collapsed .side-nav h3 {
  opacity: 0;
}
.side-nav.white-nav {
  background: transparent;
}
.side-nav.white-nav li a {
  color: #333;
  border-color: rgba(1, 1, 1, 0.1);
}
.side-nav.white-nav .gv-logo .logotype {
  top: 5px;
  background-position: 0 -100px;
}
.no-touch .side-nav.white-nav li a:hover {
  background: rgba(1, 1, 1, 0.04);
}
.ie8 .side-nav.white-nav li a {
  border-color: #ccc;
}
.ie8 .side-nav.white-nav li a:hover {
  background: #eee;
}
.gv-logo.mobile {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
}
.gv-logo.mobile .logotype {
  top: 5px;
  background-position: 0 -100px;
}
@media screen and (max-width: 740px) {
  .side-nav {
    display: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .gv-logo.mobile {
    display: block;
  }
  body {
    padding-left: 0;
  }
  .home .side-nav {
    display: block;
    position: relative;
    width: auto;
  }
  .home .side-nav .gv-logo {
    display: none;
  }
  .home .side-nav ul {
    width: auto;
  }
  .home .side-nav li a {
    line-height: 53px;
  }
  .home .side-nav .icon {
    top: 4px;
  }
}
.top-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 8px;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 16px;
  font-weight: 300;
  z-index: 30;
}
.top-nav .left {
  position: absolute;
  left: 5px;
  z-index: 5;
}
.top-nav .btn {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: none;
  color: inherit;
  padding: 0 15px 0 35px;
  background-image: url(../images/back-button.png);
  background-image: url(../images/back-button.svg);
  background-position: top left;
  background-color: #fff;
  border-right: 1px #e0e0e0 solid;
}
.top-nav .btn-icon {
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 20px;
  height: 20px;
  background: url(../images/bug.svg) no-repeat right top;
  background-size: 75px 75px;
}
.top-nav .title {
  margin: 0 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 32px;
}
@media screen and (max-width: 740px) {
  .page .content-frame {
    padding-top: 49px;
  }
  .top-nav {
    display: block;
  }
  body.home .top-nav {
    display: none;
  }
}














#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 34px;
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
   /* background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{  
   /* color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    /*font-weight:bold;  */
}

#leftMenu .accordion-heading  a:hover{  
   /* color:#ccc     */
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    /*background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}