body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


//Menu jisuss
.home .content-frame {
  background: #ffffff url(../images/home/bg.png) 100% 0 no-repeat;
}
@media screen and (max-width: 890px) {
  .home .content-frame {
    background: #fff;
  }
}

