body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.panel-default>.panel-heading {
color: #333;
background-color: #f5f5f5;
border-color: #ddd;
}